SMTP_ADDR=smtp.gmail.com:587
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=xxxxx
SMTP_PASS=xxxxx
SMTP_FROM=xxxxx


POSTGRES_PORT=5432
POSTGRES_USER=dishdash
POSTGRES_PASSWORD=secret
POSTGRES_DB=dishdash
DATABASE_URL=postgres://dishdash:secret@localhost:5432/dishdash?sslmode=disable